<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670246894868-42vf80s6g8qp4gor66hu13fi2qqi5ipm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670246894868-42vf80s6g8qp4gor66hu13fi2qqi5ipm</string>
	<key>API_KEY</key>
	<string>AIzaSyCJIYePMEKr3mWs5kErRp4vwKcdcvuQKuM</string>
	<key>GCM_SENDER_ID</key>
	<string>670246894868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ottos.SimpleReminder</string>
	<key>PROJECT_ID</key>
	<string>reminder-e7b9f</string>
	<key>STORAGE_BUCKET</key>
	<string>reminder-e7b9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670246894868:ios:a40dabbe7a2d05d0c71601</string>
</dict>
</plist>